[user]
	name = justafewwords4
	email = 104157442+justafewwords4@users.noreply.github.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	log = log --pretty=online
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
