        layout {
        gaps 26

        center-focused-column "always"

        border {
        width 5
        }

        focus-ring {
        width 5
        }
        }
        window-rule {
        geometry-corner-radius 12
        clip-to-geometry true
        tiled-state true
        draw-border-with-background false
        }

